body {
    background-color: darkgray;
}

h1 {
    // This almost works
    // content: url('./node_modules/@mapbox/maki/icons/aquarium-15.svg')
}

#top {
    background-color: lightgray;
}

#bottom {
    background-color: lightgray;
}

#main {
    background-color: lightgray;
}

#menu {
    background-color: lightgray;
}

#nav {
    color: white;
    background-color: gray;
}

button {
    color: white;
    background-color: black;
}

.compass {
    /* Reference this so it gets included as an asset */
    content: url('./images/compass.png');
}
