body {
    background-color: lightblue;
}

#top {
    background-color: lightgray;
}

#bottom {
    background-color: lightgray;
}

#map {
}

#nav {
    color: white;
    background-color: gray;
}

button {
    color: white;
    background-color: black;
}

